body{
    overflow: hidden;
}


.figuraContainer{
    width: 60vw;
    height: 60vw;
    background-color: transparent;
    position: relative;
    bottom: 40vh;
    left: -25vw;


    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotate(0);
    animation-name: rotacion;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.9, 0.0, 0.1, 1.000);
}

@keyframes rotacion{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(180deg);
    }
}



.figuraContainer img{
    max-width: 100%;
    object-fit: cover;
}

.figuraContainer #figuraPrincipal{
    filter: none;
    animation-name: cambioColor;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.9, 0.0, 0.1, 1.000);
}

@keyframes cambioColor {
    from{
        filter: invert(53%) sepia(92%) saturate(485%) hue-rotate(156deg) brightness(80%) contrast(82%);
    }

    to{
        filter: invert(65%) sepia(43%) saturate(691%) hue-rotate(14deg) brightness(92%) contrast(91%);
    }

}


.figuraPequeñaContainer{
    width: 10vw;
    height: 10vw;
    background-color: transparent;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figuraPequeñaContainer img{
    max-width: 100%;
    object-fit: cover;
}

#manzana, #arbol{
    transform: rotate(180deg);
}


#manzana{
    top: 0;
    left: 20%;
}

#arbol{
    bottom: 40%;
    left: 0;
}

#sillon{
    bottom: 40%;
    
    right: 0;
}

#nube{
    bottom: 0;
    right: 20%;
}


.tituloContainer{
    z-index: 200;
    width: 20vw;
    height: 20vh;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    top: 15vh;
    left: 3vw;
}


.titulo{
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    text-align: left;
}

.titulo::before{
    content:" Título 1 Título 2";
    position: absolute;
    left: 0;
    animation-name: cambioTitulo;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.9, 0.0, 0.1, 1.000);
}

@keyframes cambioTitulo {
    from{
        left: 0;
    }
    to{
        left: -100%;
    }
}

.contenedorDerecha{
    position: absolute;
    right: 10vw;
    top: 20vh;

    width: 40vw;
    height: 60vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.contenedorDerecha h1{
    width: 100%;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align: left;
}

.listaDeslizableContainer{
    width: 100%;
    flex: auto;
    overflow: hidden;
    position: relative;
}

.lista{
    width: 100%;
    height: 100%;
    position: absolute;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;

}

.lista .fila:first-of-type,
.lista .fila:last-of-type
{
    background-color: rgb(243, 243, 243);
}

.fila{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 70fr 30fr;
    grid-template-rows: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.fila h2{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.fila img{
    max-height: 100px;
    object-fit: cover;
}

#lista1{
    top: 0;
    left: 0;
    animation-name: lista1Deslizamiento;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.9, 0.0, 0.1, 1.000);
}

#lista2{
    top: 0;
    left: 100%;
    animation-name: lista2Deslizamiento;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.9, 0.0, 0.1, 1.000);
}

@keyframes lista1Deslizamiento {
    from{
        left: 0;
    }
    to{
        left: -100%;
    }
}
@keyframes lista2Deslizamiento {
    from{
        left: 100%;
    }
    to{
        left: 0;
    }
}